    <h1>ユーザー一覧</h1>


<% @users.each do |user| %>
    <h2>
        <% if user.name.present? %>
        <%= link_to user.name, user_path(user) %>
        <% else %>
        <%= link_to "名無しさん", user_path(user) %>
        <% end %>
    </h2>

   
    <div class="follow-unfollow">
        <% if user.followed_by? current_user %>
          <%= link_to "フォロー解除", follows_user_path(user), method: :delete %>
        <% else %>
          <%= link_to "フォロー", follows_user_path(user), method: :post %>
        <% end %>
    </div>
<% end %>