<p id="notice"><%= notice %></p>


<p>
  <%= @post.body %>
</p>

 <% if current_user.id == @post.user.id %>
	<%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に削除しますか?' } %> |
 <% end %>
<%= link_to '戻る', posts_path %>