/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	margin: 0;
	padding: 0;
}
.navbar-default {
    background-color: #ebebeb;
    border-color: #dddddd;
}
.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 30px;
    border: 1px solid block;
}
.navbar-header{
	margin-left: -15px;
}
.navbar-header p {
    float: left;
    padding: 15px 15px;
    font-size: 28px;
    line-height: 20px;
    height: 50px;
}
.navbar a:hover{
	text-decoration: none;
	background: transparent;
	color: #000;
}
.navbar-nav {
    margin: 0;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.new-navbar{
    float: left;
    list-style-type: none;
    margin-right: 100px;
    font-size: 16px;
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.alert-info #notice{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
#application {
    background-color: #fbfbfb;
}

.user-name{
    font-size: 20px;
    font-weight: 500;
    color: #555;
}
.user-id{
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
}
.list-group-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
.time{
    font-size: 12px;
    color: #aaa;
    font-weight: 400;
}
.left-content .panel {
    box-shadow: none;
    border-bottom-width: 3px;
}
.panel-default {
    border-color: #dddddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.num{
    font-size: 18px;
}
.panel-body{
    border-bottom: 1px solid #dddddd; 
}
.user-activity {
    text-align: center;
}
.new-tweet {
    margin-top: 20px;
    padding: 0 10px;
}
.form-group {
    margin-bottom: 15px;
}
.form-controll {
    display: block;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn {
    margin-top: 10px;
    width: 100%;
}
.page_area{
    text-align: center;
}
















