/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	margin: 0;
	padding: 0;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-header{
	    margin-left: -15px;
}
.navbar-header p {
    float: left;
    padding: 15px 15px;
    font-size: 27px;
    line-height: 20px;
    height: 50px;
}
.navbar a:hover{
	text-decoration: none;
	background: transparent;
	color: #000;
}
.navbar-nav {
    margin: 0;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}












